body {
  font-family: "Roboto", sans-serif;
}
:root {
  --basic-text-color: #212121;
  --accent-text-color: #2196f3;
  --light-color: #ffffff;
  --secondary-text-color: #757575;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --bcg-color: #2f303a;
  --bcg-button-color: #f5f4fa;
  --bcg-focus-button: #188ce8;
  --card-border: #eeee;
  --header-border: #ececec;
}
ul,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;

}
.title {
  margin-top: 0;
  margin-bottom: 30px;
}
.visually-hidden,
.title-team {
  margin-top: 0;
  margin-bottom: 50px;
}
.site-nav {
  margin-left: 93px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header,
.site-nav {
  display: flex;
  align-items: center;
}
.head {
  border-bottom: 1px solid var(--header-border);
}

.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.contacts-list {
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-benefits,
.section-work,
.section-team {
  display: flex;
  gap: 30px;
}
.benefits {
  margin-top: 0;
  margin-bottom: 10px;
}
.benefits .item,
.section-team .item {
  flex-basis: calc((100% - 90px) / 4);
}
.benefits {
  margin-bottom: 10px;
}
.works .item {
  flex-basis: calc((100% - 60px) / 3);
}
.about.section{
  padding-top: 0;
}


.team-name {
  margin-top: 0;
  margin-bottom: 10px;
}
.description{
  padding: 30px 0px;
}
.work-description {
  border-left: 1px solid var(--card-border);
  border-right: 1px solid var(--card-border);
  border-bottom: 1px solid var(--card-border);
}
.team.section{
  background-color: var(--bcg-button-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.works-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-description {
  padding: 24px 20px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
}
.logo-style {
  color: var(--logo-color);
}
.logo-style-footer {
  color: var(--light-color);
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--basic-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}
.contacts-list {
  display: flex;
}
.contacts-list .item {
  margin-right: 50px;
}
.contacts-list .item:last-child {
  margin-right: 0;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-text-color);
}
.item {
  list-style: none;
}
.hero {
  background-color: var(--bcg-color);
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}
.title-button {
  border: 0;
  display: inline-block;
  margin: auto;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  cursor: pointer;
}
.title-button:hover,
.title-button:focus {
  background-color: var(--bcg-focus-button);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-text-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.title-work,
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
.address {
  font-style: normal;
}
.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  text-decoration: none;
}
.footer {
  background-color: var(--bcg-color);
}
.portfolio-button {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
  background-color: var(--bcg-button-color);
  cursor: pointer;
  border: 1px solid var(--bcg-button-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--light-color);
  background-color: var(--accent-text-color);
  border-radius: 4px;
}
.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}
.work-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.work-link {
  text-decoration: none;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-text-color);
}
